<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper" >

    <insert id="saveDish" useGeneratedKeys="true" keyProperty="id">
        insert into dish values(null,#{name},#{categoryId},#{price},#{image},#{description},#{status},#{createTime},#{updateTime},#{createUser},#{updateUser})
    </insert>
    <insert id="saveDishFlavor">
        insert into dish_flavor
        values
        <foreach collection="dishFlavors" item="flavor" separator=",">
            (null,#{flavor.dishId},#{flavor.name},#{flavor.value})
        </foreach>
    </insert>
    <update id="update">
        update dish
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="categoryId!=null">
                category_id=#{categoryId},
            </if>
            <if test="price!=null">
                price=#{price},
            </if>
            <if test="image!=null">
                image=#{image},
            </if>
            <if test="description!=null">
                description=#{description},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="updateTime!=null">
                update_time=#{updateTime},
            </if>
            <if test="updateUser!=null">
            update_user=#{updateUser}
            </if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>
    <delete id="deleteDish">
        delete from dish where id in
                         <foreach collection="ids" item="id" separator="," open="(" close=")">
                             #{id}
                         </foreach>
    </delete>
    <delete id="deleteFlavorById">
        delete from dish_flavor where dish_id in
                                <foreach collection="ids" close=")" open="(" separator="," item="id">
                                    #{id}
                                </foreach>
    </delete>
    <select id="getById" resultType="com.sky.vo.DishVO">
        select * from dish where id=#{id}
    </select>
    <select id="getFlavorsById" resultType="com.sky.entity.DishFlavor">
        select * from dish_flavor where dish_id=#{id}
    </select>
    <select id="pageDish" resultType="com.sky.vo.DishVO">
        select dish.*,category.name categoryName from dish join category on dish.category_id = category.id
        <where>
            <if test="categoryId!=null">
                dish.category_id=#{categoryId}
            </if>
            <if test="name!=null">
                and dish.name like concat('%',#{name},'%')
            </if>
            <if test="status!=null">
                and dish.status=#{status}
            </if>
        </where>
    </select>
</mapper>